@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fafafa;
}

a {
  text-decoration: none;
}

.header {
  background-color: #111;
  width: 100%;
  height: 60px;
}

.header .brand {
  color: #fff;
}

.container {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand h1 {
  font-size: 27px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-list a {
  color: #a3a3a4;
}

.nav-list a:hover {
  color: #fff;
}

.nav-list .nav-list-item {
  margin-left: 15px;
}

main .container {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-bottom: 10px;
}

.device-info {
  margin-top: 30px;
  line-height: 1.5;
  font-size: 17px;
  padding-left: 5px;
}

.device-info .title {
  font-weight: 600;
}

.other-info {
  margin-top: 70px;
}

.other-info .category-title {
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-left: 5px;
}

.other-info hr {
  border: none;
  height: 0.8px;
  width: 100%;
  background-color: #a5a5a5;
}

.category-info {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.category-info .category-item {
  height: 250px;
  line-height: 1.5;
  padding: 5px;
  padding-top: 0;
}

.category-info .category-item .item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.category-item .item-content span {
  font-weight: 500;
}

.rule {
  width: 80%;
  height: 0.7px;
  border: none;

  background-color: #cccccc;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

footer p {
  font-size: 14px;
  color: gray;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
